.git
.github
.husky
.idea
.vscode
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.*
!.env.example
docker-compose.yml
Dockerfile
.dockerignore
docker/
*.log
*.md
tests 